body {
  background-color: #263248;
  margin-bottom: 40px;
}

h1 {
  color: #FF9800;
  font-size: 5em;
}

h3 {
  color: white;
  font-weight: lighter;
}

.btn-default {
  background: none;
  color: white;
  border-width: 2px;
  border-color: white;
}

.btn-default:hover {
  background: none;
  color: #FF9800;
  border-width: 2px;
  border-color: #FF9800;
}

input.form-control.post {
  min-height: 40px;
}

.post {
  color: white;
  margin-top: 30px;
}

#tabs {
  margin: 20px auto;
}

#tabs input {
  margin-bottom: 10px;
}

#tabs input[type="submit"] {
  background: none;
  border-width: 2px;
  border-color: #263248;
  color: #263248;
}

#tabs input[type="submit"]:hover {
  background: #263248;
  border-width: 2px;
  color: #fff;
}

.ui-widget-header {
  background: #FF9800;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #263248;
  background: #263248;
}

@media (min-width: 600px){
  #tabs {
    max-width: 65%;
  }
}
